.App {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;  
  margin: 24px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Content {
  width: 400px;
  margin: 24px;
}

.Header {
  display: flex;
  justify-content: flex-start;
  margin: 16px;
}

.Body {
  margin: 16px; 
}

.field-header {
  margin-top: 16px;
}
.product-header {
  font-weight: bold;
  margin-top: 16px;  
}

.product-category {
  margin-top: 8px;  
  font-weight: bold;
  background: #F0F0F0;
}

.product {
  margin-top: 8px;  
  font-style: italic;
}


.slick-slider {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.slick-slider h3{
  color: #fff;
}